{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
<h5 class="modal-title{{#if class}} {{class}}{{/if}}"{{#if id}} id="{{id}}"{{/if}}>{{#if content}}{{{content}}}{{else}}{% trans "{{title}}" %}{{/if}}</h5>

