{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
<div class="mb-3">
    <div class="row">
        <div class="col-md-6">
            <label for="{{leftId}}" class="form-label">
                {% trans "{{leftLabel}}" %}{{#if leftSmall}} <small class="text-muted">({% trans "{{leftSmall}}" %})</small>{{/if}}
            </label>
            <input type="{{leftType}}"
                   id="{{leftId}}"
                   class="form-control"
                   {{#if leftPlaceholder}}placeholder="{{leftPlaceholder}}"{{/if}}>
        </div>
        <div class="col-md-6">
            <label for="{{rightId}}" class="form-label">
                {% trans "{{rightLabel}}" %}{{#if rightSmall}} <small class="text-muted">({% trans "{{rightSmall}}" %})</small>{{/if}}
            </label>
            <input type="{{rightType}}"
                   id="{{rightId}}"
                   class="form-control"
                   {{#if rightPlaceholder}}placeholder="{{rightPlaceholder}}"{{/if}}>
        </div>
    </div>
</div>
